*{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;;
}


.osimodelimg{
    margin-top: 10px;
    margin-bottom: 50px;
}
.osimodelimg>img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overviewimg>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerdiv>h1{
    text-align: center;
    font-weight: 900;
}

.headerdiv{
    margin-top:10px;
    margin-bottom:20px;
}






.lanimg{
    width: 100%;
}

.lanimg > img{
    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.applicationimg{
    width: 100%;
}

.applicationimg > img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.presentationimg{
    width: 100%;
}

.presentationimg > img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sessionimg>img,.transportimg>img,.networkimg>img,.physicalimg>img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dataimg>img{
    width: 400px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.para4>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.para1 > h3{
    font-weight: 700;
}

.para1 > p{
    font-size: 17px;
}

.reasonone{
    font-size: 17px;
}


.oldiv{
    font-size: 16px;
}

.oldiv>li{
    margin-bottom: 5px;
}

.extp{
    font-size: 17px;
    margin: 5px 5px;
    font-weight: 700;
    text-decoration: underline;
}

.extp1{
    font-size: 16px;
}

strong{
    font-weight: 900;
}

.uldiv{
    font-size: 16px;
}

.uldiv>li>strong{
    text-decoration: underline;
    font-size: 17px;
    font-weight: 700;
}


h2{
    font-weight: 900;
}

.hed{
    font-size: 28px;
    font-weight: bolder;
}

.para2 > h2{
    font-weight: 700;
}

.para1 > h2{
    font-weight: 700;
}

.para3 > h1{
    font-weight: 700;
}

.para4 > h2{
    font-weight: 700;
    text-decoration: underline;
}
.endpara{
    font-size: 16px;
}


































































/*Responsive CSS */

@media only screen and (max-width:600px) {
    .presentationimg > img {
        width: 250px;
        height: 150px;
    }
}