*{
    margin: 0;
    padding: 0;
    text-align: justify;
}


.osimodelimg{
    margin-top: 10px;
    margin-bottom: 50px;
}
.osimodelimg>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overviewimg>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerdiv>h1{
    text-align: center;
    font-weight: 900;
}

.headerdiv{
    margin-top:10px;
    margin-bottom:20px;
}






.lanimg{
    width: 100%;
}

.lanimg > img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.applicationimg{
    width: 100%;
}

.applicationimg > img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.presentationimg{
    width: 100%;
}

.presentationimg > img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sessionimg,.transportimg,.networkimg,.physicalimg>img{
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dataimg>img{
    width: 400px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.para4>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.para1 > h3{
    font-weight: 700;
}

.para1 > p{
    font-size: 20px;
}



